.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  background-image: url("/cards-group.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-end;
  max-width: 800px;
  flex-wrap: wrap;
}

@media (max-width: 1080px) {
  .cards {
    padding: 0 20px 0 20px;
  }
}
