.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contents {
    background-color: var(--secondaryDark);
    padding: 20px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 40px;
    width: 1080px;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.contentContainer {
    background-color: var(--secondaryDark);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textLight);
    flex-wrap: wrap;
}

.logo {
    width: 100%;
    height: auto;
}

.itemsContainer {
    display: flex;
    flex: 3;
    gap: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
}

.items {
    /* min-width: 300px; */
    width: 300px;
}

.itemHeading {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--secondaryLight);
    color: var(--primaryDark)
}

.itemSpacing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    font-size: 1.2rem;
    color: var(--primaryLight);
}

.footerBottom {
    padding: 20px;
    width: 90%;
    border-top: 2px solid var(--secondaryLight);
    text-align: center;

}

.stripesPattern {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

@media (max-width: 1080px) {
    .contents {
        flex-direction: column-reverse;
        width: 100vw;
        align-items: center;
    }
}

@media (max-width: 720px) {
    

    .itemsContainer {
        flex-wrap: wrap;
    }

    .items {
        width: 100%;
    }

    /* .items {
       width: 140px;
       
    } */
}